body{
    background-color: slategrey;
}
.navbar-brand{
    font-family: 'Calistoga', sans-serif;
}
/* style start button  */
button{
    font-family: 'Calistoga', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 150px;
    height: 50px;
    background-color: #fa7e70;
    color: white;
}

/* style main container  */
.container{
    margin : 50px auto;
    align-items: center;
    background-color: white;
    height: 400px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}


.instructions{
    font-family: 'Raleway', sans-serif;
    margin: 25px auto;
}
.start {
    margin: auto;
    background-color: salmon;
    font-size: 22px;
    color: white;
    align-items: center;
}

.start:hover{
    color: salmon;
    background-color: slategrey;
}

.question{
    font-family: 'Calistoga', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 15px auto;
    display: flex;
    right:0;
    top:0;
}

.row{
    align-items: center;
    justify-content: center;
}
.choice-grid{
    text-align: center;
    justify-content: center;
    width : auto;
    position: absolute;
    left: 135px;
    bottom: 100px;
    padding : 10px;
}
.choice{
    font-family: 'Raleway', sans-serif;
    /* display: inline-block; */
    width : auto;
    height: auto;
    justify-content: center;
    text-align: center;
    /* border : 1px solid grey; */
    border-radius: 5px;
    cursor: pointer;
    margin: 5px, 5px;
    /* padding : 5px, 5px; */
}
.choice:hover{
    font-weight: bold;
    color: salmon;
}
#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-family: 'Calistoga', sans-serif;
    font-size: 38px;
    color: slategrey;
}
.btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: slategrey;
    margin-left : 25px;
}
.timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color:salmon;
    margin-top : -10px;
    margin-left : 25px;
}
.progress{
    background-color: white;
    width : auto;
    position: absolute;
    bottom : 25px;
    right : 5px;
    padding: 15px;
    text-align: right;
    overflow: visible;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid slategrey;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
    margin-bottom: 5px;
}

.scoreContainer{
    margin : 50px auto;
    background-color: salmon;
    align-items: center;
    opacity: 0.8;
    height: 400px;
    width : 700px;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    left: 0px;
    display: none;
}


.scoreContainer p{
    font-family: 'Calistoga', sans-serif;
    font-size: 42px;
    color: white;
    position: absolute;
    display: flex;
    top: 150px;
    left: 300px;
    font-weight: bold;
    text-align: center;
}